* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.rbxm binary
*.mesh binary
*.ttf binary
*.woff binary
*.woff2 binary

*.rbxmx text eol=lf
*.rbxlx text eol=lf
*.json text eol=lf
*.luau text eol=lf
*.py text eol=lf
*.js text eol=lf
*.sh text eol=lf
